@model IEnumerable<Cosevi.SIBOAC.Models.ClaseDePlaca>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Clases de Placa</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clasedeplaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clasedeplaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Clasedeplaca.Trim() }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Clasedeplaca.Trim() }) |
            @Html.ActionLink("Inactivar", "Delete", new { id=item.Clasedeplaca.Trim() })
        </td>
    </tr>
}

</table>
