@model PagedList.IPagedList<Cosevi.SIBOAC.Models.CatalogoDeArticulos>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function doSearch() {
        var tableReg = document.getElementById('TablaContenido');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";

        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }

</script>

<h2>Lista de Catálogo de Artículos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>

@*<input id="searchTerm" type="text" onkeyup="doSearch()" />*@
@using (Html.BeginForm())
{
    <p>
        Búsqueda: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar"/>
    </p>
}

<table class="table" id="TablaContenido">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Conducta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeFin)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Multa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Puntos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Totalidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Estado == "I")
    {
        <tr class="warning">
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Conducta)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </th>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin }) 
                @Html.ActionLink("Detalles", "Details", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin }) 
                @Html.ActionLink("Eliminar", "RealDelete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin }) 
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin })
                }
            </td>
        </tr>

    }

    else
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducta)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin  /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Detalles", "Details", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Eliminar", "RealDelete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin }) 
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { codigo = item.Id, conducta = item.Conducta, fechaInicio = item.FechaDeInicio, fechaFinal = item.FechaDeFin })
                }
            </td>
        </tr>


    }

}
</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))




