@model Cosevi.SIBOAC.Models.CatalogoDeArticulos

@{
    ViewBag.Title = "RealDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>

<div>
    <h4>Catálogo de Artículos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Multa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Multa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Puntos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Puntos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Totalidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Totalidad)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar a la lista", "Index")
            </div>
        }
</div>
