@model Cosevi.SIBOAC.Models.LEYENDAPORAUTORIDAD

@{
    ViewBag.Title = "Inactivar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Estado == "A")
{
    <h2>Inactivar</h2>
}
else
{
    <h2>Activar</h2>
}

<h3>¿Está seguro que desea cambiar el estado?</h3>
<div>
    <h4>Configuración de Leyenda de Autoridad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAutoridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAutoridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionAutoridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionAutoridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiePagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PiePagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.Estado == "A")
            {
                <input type="submit" value="Inactivar" class="btn btn-warning" />
            }
            else
            {
                <input type="submit" value="Activar" class="btn btn-success" />
            }
            |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
