@model PagedList.IPagedList<Cosevi.SIBOAC.Models.TipoDeEstructura>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Tipos de Estructura</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Estado == "I")
    {
        <tr class="warning">

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "RealDelete", new { id = item.Id }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }


    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "RealDelete", new { id = item.Id }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }
}


</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))