@model Cosevi.SIBOAC.Models.TipoVehiculoPorCodigoPorClase

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tipo Vehículo por Código por Clase</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoTiposVehiculos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoTiposVehiculos, (IEnumerable<SelectListItem>)ViewBag.ComboTiposVehiculos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoTiposVehiculos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoClasePlaca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoClasePlaca, (IEnumerable<SelectListItem>)ViewBag.ComboClasePlaca, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoClasePlaca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoCodigoPlaca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoCodigoPlaca, (IEnumerable<SelectListItem>)ViewBag.ComboCodigoPlaca, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoCodigoPlaca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoTipoVeh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.CodigoTipoVeh, (IEnumerable<SelectListItem>)ViewBag.ComboCodigoVehiculo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoTipoVeh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.Estado,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "A" , Text = "Activo" },
                       new SelectListItem { Value = "I" , Text = "Inactivo" }
                    },
                  new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaDeInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-daterange input-group" id="datepicker"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    @Html.EditorFor(model => model.FechaDeInicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaDeInicio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaDeFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-daterange input-group" id="datepicker"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    @Html.EditorFor(model => model.FechaDeFin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaDeFin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script>
        $(document).ready(
        function () {
            Calendario();

        });
</script>
<script>
        function Calendario() {
            $('.input-daterange').datepicker({
                startView: 2,
                autoclose: true,
                orientation: 'bottom auto',
                todayHighlight: true,
                todayBtn: true,
                format: 'dd/mm/yyyy'
            });
        };
</script>

}
