@model Cosevi.SIBOAC.Models.ValidarCarroceria

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Validar carrocería</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CodigoTipoIdVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTipoIdVehiculo)
        </dd>
        <dt>
            @Html.Label("Descripción TipoId")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionCodigoTipoIdVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoTiposVehiculos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTiposVehiculos)
        </dd>
        <dt>
            @Html.Label("Descripción Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionCodigoTiposVehiculos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoCarroceria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCarroceria)
        </dd>        
        <dt>
            @Html.Label("Descripción Carroceria")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionCodigoCarroceria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { CodigoTipoIdentificacion = Model.CodigoTipoIdVehiculo, CodigoTipoVehiculo = Model.CodigoTiposVehiculos, CodigoCarroceria = Model.CodigoCarroceria  /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
