@model PagedList.IPagedList<Cosevi.SIBOAC.Models.ValidarCarroceria>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Validación de Carrocería</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.First().CodigoTipoIdVehiculo)
        </th>
        <td>
            @Html.Label("Descripción")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.First().CodigoTiposVehiculos)
        </th>
        <td>
            @Html.Label("Descripción")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.First().CodigoCarroceria)
        </th>
        <td>
            @Html.Label("Descripción")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.First().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Estado == "I")
    {
        <tr class="warning">

            <td>
                @Html.DisplayFor(modelItem => item.CodigoTipoIdVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoTipoIdVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTiposVehiculos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoTiposVehiculos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCarroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoCarroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria }) |
                @Html.ActionLink("Detalles", "Details", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo, CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "RealDelete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo, CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria /* id=item.PrimaryKey */ }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria })
                }
            </td>
        </tr>
    }
    else
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoTipoIdVehiculo)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoTipoIdVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTiposVehiculos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoTiposVehiculos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCarroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoCarroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria }) |
                @Html.ActionLink("Detalles", "Details", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria }) |
                @Html.ActionLink("Eliminar", "RealDelete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo, CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria /* id=item.PrimaryKey */ }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria })
                }
            </td>
        </tr>
    }
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))