@model IEnumerable<Cosevi.SIBOAC.Models.ValidarCarroceria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CodigoTipoIdVehiculo)
        </th>
        <td>
            @Html.Label("Descripción TipoId")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.CodigoTiposVehiculos)
        </th>
        <td>
            @Html.Label("Descripción Tipo")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCarroceria)
        </th>
        <td>
            @Html.Label("Descripción Carroceria")
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoTipoIdVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCodigoTipoIdVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoTiposVehiculos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCodigoTiposVehiculos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoCarroceria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCodigoCarroceria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo.Trim(), CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria }) |
            @Html.ActionLink("Details", "Details", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo, CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { CodigoTipoIdentificacion = item.CodigoTipoIdVehiculo, CodigoTipoVehiculo = item.CodigoTiposVehiculos, CodigoCarroceria = item.CodigoCarroceria /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
