@model IEnumerable<Cosevi.SIBOAC.Models.Revision>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Revisión Técnica</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Eliminar", "RealDelete", new { id = item.Id.Trim() }) 
        </td>
    </tr>
}

</table>
