@model Cosevi.SIBOAC.Models.Articulos_Adicionales_Sugeridos

@{
    ViewBag.Title = "Inactivar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Estado == "A")
            {
    <h2>Inactivar</h2>
}
else
{
    <h2>Activar</h2>
}

<h3>¿Está seguro que desea cambiar el estado?</h3>
<div>
    <h4>Artículo Adicional Sugerido</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Conducta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conducta)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_final)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retiro_temporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retiro_temporal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inmovilizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inmovilizacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.Estado == "A")
            {
                <input type="submit" value="Inactivar" class="btn btn-warning" />
            }
            else
            {
                <input type="submit" value="Activar" class="btn btn-success" />
            }
            |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
