@model Cosevi.SIBOAC.Models.ParteOficial

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adjuntar Archivos a Parte Oficial</h2>
<br>
<br>
<br>
<br>
@using (Html.BeginForm("Index", "AdjuntarArchivos", FormMethod.Get))
{

    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <td>
                @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
            </td>
            <th>
                @Html.LabelFor(model => model.NumeroParte, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <td>
                @Html.EditorFor(model => model.NumeroParte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroParte, "", new { @class = "text-danger" })
            </td>             
            <td>
            </td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="Consultar" class="btn btn-success" />
                <button id="limpiarCampos" type="button" class="btn btn-danger">Limpiar</button>
            </td>
        </tr>
    </table>
}
<br />
<br />

@if (ViewBag.Valor != null)
{
    TempData["Type"] = null;
    TempData["Message"] = null;
    
        <div class="panel panel-success">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                @Html.Partial("_AdjuntarView", Model)
            </div>
        </div>    
}

@section Script{
    <script>
        function limpiarCampos() {
            $('#limpiarCampos').click(function () {
                $('input[type="text"]').val('');
            });
        }
    </script>    

}

