@model Cosevi.SIBOAC.Models.ParteOficial

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adjuntar archivos a Parte Oficial</h2>
<br>
<br>
<br>
<br>
@using (Html.BeginForm("Index", "AdjuntarArchivos", FormMethod.Get))
{

    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <td>
                @Html.EditorFor(model => model.Serie)
                @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.NumeroParte, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.NumeroParte)
                @Html.ValidationMessageFor(model => model.NumeroParte, "", new { @class = "text-danger" })
            </td>
            <td>
                <input type="submit" value="Consultar" class="btn btn-success" />
            </td>
        </tr>
    </table>
}
<br />
<br />

@if (ViewBag.Valor != null)
{
    TempData["Type"] = null;
    TempData["Message"] = null;
    
        <div class="panel panel-success">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                @Html.Partial("_AdjuntarView", Model)
            </div>
        </div>
    

}

