@model IEnumerable<Cosevi.SIBOAC.Models.Edad>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de las edades</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FechaMinNacimiento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaMaxNacimiento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaPorDefecto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Estado == "I")
    {
        <tr class="warning">


            <td>
                @Html.DisplayFor(modelItem => item.FechaMinNacimiento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaMaxNacimiento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaPorDefecto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento }) |
                @Html.ActionLink("Detalle", "Details", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento })
                }
            </td>
        </tr>
    }

    else
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FechaMinNacimiento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaMaxNacimiento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaPorDefecto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento }) |
                @Html.ActionLink("Detalles", "Details", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { FechaMinNacimiento = item.FechaMinNacimiento, FechaMaxNacimiento = item.FechaMaxNacimiento })
                }
            </td>
        </tr>

    }
}


</table>
