@model Cosevi.SIBOAC.Models.SIBOACUsuarios

@{
    ViewBag.Title = "Reiniciar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reiniciar Contraseña</h2>

<h3>¿Está seguro que desea cambiar el password?</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.Label("Código")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt>
            @Html.Label("Última Actualización de la Clave")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeActualizacionClave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo.Value, new { @disabled = "disabled" })
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Reiniciar" class="btn btn-warning" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
