@model IEnumerable<Cosevi.SIBOAC.Models.SIBOACUsuarios>

@{
    ViewBag.Title = "Reiniciar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reiniciar Contraseña</h2>

@*<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.Label("Código")
        </th>
        <th>
            @Html.Label("Última Actualización de la Clave")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
  
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeActualizacionClave)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Activo.Value, new { @disabled = "disabled" })
        </td>
        <td>            
            @Html.ActionLink("Reiniciar Contraseña", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
