@model IEnumerable<Cosevi.SIBOAC.Models.DispositivoPorRolPersona>

@{
    ViewBag.Title = "Lista";   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de los dispositivos por rol de persona</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRolPersona)
        </th>
        <th>
            @Html.Label("Descripción RolPersona")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDispositivo)
        </th>
        <th>
            @Html.Label("Descripción Dispositivo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRolPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionRolPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDispositivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDispositivo)
            </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { CodRol = item.CodigoRolPersona, CodDisp = item.CodigoDispositivo /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalle", "Details", new { CodRol = item.CodigoRolPersona, CodDisp = item.CodigoDispositivo  /* id=item.PrimaryKey */ }) |           
        </td>
    </tr>
}

</table>
