@model Cosevi.SIBOAC.Models.DispositivoPorRolPersona

@{
    ViewBag.Title = "RealDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <h4>Dispositivo por Rol de Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoRolPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoRolPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionRolPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionRolPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDispositivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDispositivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionDispositivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionDispositivo)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
