@model Cosevi.SIBOAC.Models.Boletas

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adjuntar Archivos a Boleta</h2>
<br>
<br>
<br>
<br>
@using (Html.BeginForm("Index", "AdjuntarArchivosBole", FormMethod.Get))
{

    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.serie, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
            <td>
                @Html.EditorFor(model => model.serie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serie, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.LabelFor(model => model.numero_boleta, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.numero_boleta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numero_boleta, "", new { @class = "text-danger" })
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="Consultar" class="btn btn-success" />
                <button id="limpiarCampos" type="button" class="btn btn-danger">Limpiar</button>
            </td>
        </tr>
    </table>
}
<br />
<br />

@if (ViewBag.Valor != null)
{
    TempData["Type"] = null;
    TempData["Message"] = null;

    <div class="panel panel-success">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            @Html.Partial("_AdjuntarView", Model)
        </div>
    </div>


}

@section scripts
    {
    <script>
        function limpiarCampos() {
            $('#limpiarCampos').click(function () {
                $('input[type="text"]').val('');
            });
        }
    </script>
    }
