@model Cosevi.SIBOAC.Models.Inspector

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Inspector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adonoren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adonoren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeExclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeExclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoDeInclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoDeInclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoDeExclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoDeExclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoReag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoReag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDeDelegacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDeDelegacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id.Trim() }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
