@model Cosevi.SIBOAC.Models.DetallePorTipoDanio

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Detalle por tipo de daño</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CodigoDanio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoDanio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionCodigoDano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionCodigoDano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoTipoDanio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTipoDanio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { codigod = Model.CodigoDanio, codigotd = Model.CodigoTipoDanio    /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>

