@model Cosevi.SIBOAC.Models.RolDePersonaPorVehiculo

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Lista de Roles de Personas por Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivarVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivarVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id.Trim() }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
