@model IEnumerable<Cosevi.SIBOAC.Models.DanioPorHospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdHospital)
        </th>
        <th>
            @Html.Label("Descripcion Hospital")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDanio)
        </th>
        <th>
            @Html.Label("Descripcion Daño")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.IdHospital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionHospital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDanio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionDanio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { codHosp = item.IdHospital, codDanio = item.IdDanio /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { codHosp = item.IdHospital, codDanio = item.IdDanio /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { codHosp = item.IdHospital, codDanio = item.IdDanio /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
