@model Cosevi.SIBOAC.Models.Artículos_Adicionales_Sugeridos

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Artículo Adicionales Sugeridos</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conducta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conducta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_retiro_temporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_retiro_temporal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_inmovilizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_inmovilizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { CodArticulo = Model.codigo, Conducta = Model.conducta, FechaInicio = Model.fecha_inicio, FechaFin = Model.fecha_final }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
