
@model PagedList.IPagedList<Cosevi.SIBOAC.Models.Artículos_Adicionales_Sugeridos>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Artículos Adicionales Sugeridos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.First().codigo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().conducta)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().fecha_inicio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().fecha_final)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().codigo_retiro_temporal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().codigo_inmovilizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.estado == "I")
    {
        <tr class="warning">


            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conducta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_final)
            </td>


        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_retiro_temporal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_inmovilizacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
            @Html.ActionLink("Detalles", "Details", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            @if (item.estado == "I")
            {
                @Html.ActionLink("Activar", "Delete", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
            }
            else
            {
                @Html.ActionLink("Inactivar", "Delete", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
            }
        </td>
    </tr>
    }

    else
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conducta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_final)
            </td>




            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_retiro_temporal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_inmovilizacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
                @Html.ActionLink("Detalles", "Details", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                @if (item.estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { CodArticulo = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
                }
            </td>
        </tr>
    }
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

