@model IEnumerable<Cosevi.SIBOAC.Models.ARTICULO_ESPECIFICO>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Artículos Específicos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.conducta)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fecha_final)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_retiro_temporal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_inmovilizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion_noaplicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.estado == "I")
    {
        <tr class="warning">


            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conducta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_final)
            </td>


        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_retiro_temporal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_inmovilizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion_noaplicacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            @if (item.estado == "I")
            {
                @Html.ActionLink("Activar", "Delete", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
            }
            else
            {
                @Html.ActionLink("Inactivar", "Delete", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
            }
        </td>
    </tr>
    }

    else
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conducta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_final)
            </td>




            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_retiro_temporal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_inmovilizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion_noaplicacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final }) |
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                @if (item.estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { id = item.codigo, Conducta = item.conducta, FechaInicio = item.fecha_inicio, FechaFin = item.fecha_final })
                }
            </td>
        </tr>
    }
}

</table>
