@model Cosevi.SIBOAC.Models.UsuarioSIBOAC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsuarioSIBOAC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeUltimoCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeUltimoCambio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
