@model IEnumerable<Cosevi.SIBOAC.Models.OficinaParaImpugnar>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de oficinas para impugnar</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeFin)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Inactivar", "Delete", new { id=item.Id.Trim() })
        </td>
    </tr>
}

</table>
