@model IEnumerable<Cosevi.SIBOAC.Models.BitacoraSIBOAC>


@{
    ViewBag.Title = "Bitácora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/tableexport.js"></script>

<script>
    function imprSelec(nombre)
    {
      var ficha = document.getElementById(nombre);
      var ventimp = window.open(' ', 'Impresion.');

      ventimp.document.write( ficha.innerHTML );
      ventimp.document.close();
      ventimp.print( );
      ventimp.close();
    }

    function reporteBitacora() {
        document.getElementById("EsReporte").value = "true";
        $("#reporte").click();
        document.getElementById("EsReporte").value = "false";
    }

</script>

<h2>Reporte Bitácora</h2>
<h4>Filtro</h4>
<hr />
@using (Html.BeginForm("GetBitacora", "Reporte", FormMethod.Get))
{
    <input type="hidden" name="EsReporte" id="EsReporte" value="false" />
    <table border="0">
        <tr>
            <td>
                Nombre Tabla:
            </td>
            <td>
                <input type="text" name="NombreTabla" value="@Request.Params["NombreTabla"]" />
            </td>
        </tr>
        <tr>
            <td>
                Operación:
            </td>
            <td>
                <input type="text" name="Operacion" value="@Request.Params["Operacion"]" />
            </td>
        </tr>
        <tr>
            <td>
                Usuario:
            </td>
            <td>
                <input type="text" name="Usuario" value="@Request.Params["Usuario"]" />
            </td>
        </tr>
        <tr>
            <td>
                Fecha Inicio:
            </td>
            <td>
                <input type="date" name="FechaInicio" value="@Request.Params["FechaInicio"]" />
            </td>
            <td>
                Fecha Fin:
            </td>
            <td>
                <input type="date" name="FechaFin" value="@Request.Params["FechaFin"]" />
            </td>
            <td>
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </td>
        </tr>
    </table>

}
@if (Model != null)
{
    <br />

    <div class="panel panel-success">
        <div class="panel-heading">
            <input type="image" name="submit" value="PDF" id="ExportarPDF" src="~/Content/btnPDF.png" />
            <input input id="ExportaExcel" type="image" name="Excel" value="Excel" src="~/Content/btnExcel.png" onclick="reporteBitacora();" />
            <input title="Botón Imprimir" type="image" name="Imprimir" value="Imprimir" onClick="javascript:imprSelec('seleccion')" src="~/Content/btnImprimir.png">
        </div>
        <div class="panel-body">
            <table class="table" id="TablaContenido">
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tabla
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Operación
                    </th>
                    <th>
                        Antes
                    </th>
                    <th>
                        Después
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreTabla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Operacion)
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.ValorAntes))
                    {
                                <table>
                                    @foreach (var itemAntes in item.ValorAntes.Split(','))
                                    {
                                        <tr>
                                            <td>
                                                @itemAntes
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.ValorDespues))
                    {
                                <table>
                                    @foreach (var itemDespues in item.ValorDespues.Split(','))
                                    {
                                        <tr>
                                            <td>
                                                @itemDespues
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    

}
