@model IEnumerable<Cosevi.SIBOAC.Models.BitacoraSIBOAC>

@{
    ViewBag.Title = "Bitácora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte Bitácora</h2>
<h4>Filtro</h4>
<hr />
@{ 
    List<SelectListItem> operacionItems = new List<SelectListItem>();
    List<SelectListItem> tablaItems = new List<SelectListItem>();
    List<SelectListItem> usuarioItems = new List<SelectListItem>();


    operacionItems.Add(new SelectListItem { Text = "Todas", Value = "T" });
    operacionItems.Add(new SelectListItem { Text = "Eliminar", Value = "D" });
    operacionItems.Add(new SelectListItem { Text = "Inserción", Value = "I" });
    operacionItems.Add(new SelectListItem { Text = "Actualizacion", Value = "U" });

    foreach (var item in ViewBag.Tablas)
    {
        tablaItems.Add(new SelectListItem { Text = item.Descripcion, Value = item.Descripcion });
    }

    foreach (var item in ViewBag.Usuarios)
    {
        usuarioItems.Add(new SelectListItem { Text = item.Usuario, Value = item.Usuario });
    }

}
@using (Html.BeginForm("GetBitacora", "Reporte", FormMethod.Get))
{
    <input type="hidden" name="TipoReporte" id="TipoReporte" value="false" />
    <table border="0">
        <tr>
            <td>
                Nombre Tabla:
            </td>
            <td>
                @Html.DropDownList("NombreTabla", new SelectList(tablaItems, "Value", "Text"))
            </td>
        </tr>
        <tr>
            <td>
                Operación:
            </td>
            <td>
                @Html.DropDownList("Operacion", new SelectList(operacionItems, "Value", "Text"))
            </td>
        </tr>
        <tr>
            <td>
                Usuario:
            </td>
            <td>
                @Html.DropDownList("Usuario", new SelectList(usuarioItems, "Value", "Text"))
            </td>
        </tr>
        <tr>
            <td>
                Fecha Inicio:
            </td>
            <td>
                <input type="date" name="FechaInicio" value="@Request.Params["FechaInicio"]" />
            </td>
            <td>
                Fecha Fin:
            </td>
            <td>
                <input type="date" name="FechaFin" value="@Request.Params["FechaFin"]" />
            </td>
            <td>
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </td>
        </tr>
    </table>
}
<iframe id="ifrmReportViewer" style="height:1200px; width:99%;" frameborder="0" scrolling="no"></iframe>
@section scripts
    {
    <script>
        $(document).ready(
        function () {
            ReportCall();
        });
    </script>

    <script>
        function ReportCall() {

            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }
    </script>
}