@model IEnumerable<Cosevi.SIBOAC.Models.GetConsultaeImpresionDeBoletasData_Result>
@{
    ViewBag.Title = "_ConsultaeImpresionDeBoletas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte por Consulta e Impresión de Boletas</h2>
<h4>Filtro</h4>
<hr />

@using (Html.BeginForm("GetConsultaeImpresionDeBoletas", "Reporte", FormMethod.Get))
{
    @Html.Hidden("delegacionesValues");
    @Html.Hidden("inspectorValues");

    <table border="0">
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="desde" type="text" class="input-sm form-control" name="desde" value="@Request.Params["desde"]" required/>
                    <span class="input-group-addon">a</span>
                    <input id="hasta" type="text" class="input-sm form-control" name="hasta"  value="@Request.Params["hasta"]" required/>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Delegación</label>
                        <br />
                        <p>
                            <input type="text" id="BuscarDelegacion" name="BuscarDelegaciones" onkeyup="BuscarDelega()" placeholder="Buscar..">
                        </p>
                        <div class="col-max col-md-12">
                            <div id="ListaDelegaciones">
                                <div class="list-group" data-toggle="items" required>
                                    @foreach (var item in ViewBag.Delegacion)
                                    {
                                        if (item.Seleccionado == true)
                                        {
                                            <a href="#" class="list-group-item active" data-value="@item.Id" onclick="listaDelegacionesChange(this); return false;">@item.Descripcion</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="list-group-item" data-value="@item.Id" onclick="listaDelegacionesChange(this); return false;">@item.Descripcion</a>
                                        }

                                    }
                                </div>
                            </div>                         
                        </div>
                    </div>
                    <br />    
                    <div class="btn-group pull-right">
                        <button id="todosDelegacion" type="button" class="btn btn-danger" onclick="marcarTodosDelegacion()">Marcar todos</button>
                        <button id="limpiarDelegacion" type="button" class="btn btn-primary" onclick="limpiarTodosDelegacion()">Limpiar</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Inspector</label>
                        <br />
                        <p>
                            <input type="text" id="BuscarInspector" name="BuscarInspectores" onkeyup="BuscarInspec()" placeholder="Buscar..">
                        </p>
                        <div class="col-max col-md-12">
                            <div id="ListaInspectores">
                                <div class="list-group" data-toggle="items" required>
                                    @foreach (var item in ViewBag.Inspector)
                                    {
                                        if (item.Seleccionado == true)
                                        {
                                            <a href="#" class="list-group-item active" data-value="@item.Id" onclick="listaInspectorChange(this); return false;">@item.Descripcion</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="list-group-item" data-value="@item.Id" onclick="listaInspectorChange(this); return false;">@item.Descripcion</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />                  
                    <div class="btn-group pull-right">
                        @*<button id="todosInspector" type="button" class="btn btn-danger" onclick="marcarTodosInspector()">Marcar todos</button>*@
                        <button id="limpiarInspector" type="button" class="btn btn-primary" onclick="limpiarTodosInspector()">Limpiar</button>

                    </div>
                </div>
            </div>
            <br />
            <br />
  
            <div class="pull-right">
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </div>
        </div>
    </table>

}
<iframe id="ifrmReportViewer" style="height:1200px; width:60%;" frameborder="0" scrolling="auto"></iframe>
@section scripts
    {
            <script>
                $(document).ready(
                function () {
                    Calendario();
                
                    ReportCall();

                });
            </script>


            <script>

                function listaDelegacionesChange(obj) {

                    var delegacionID = obj.getAttribute('data-value');
                    var selectedValues = document.getElementById('delegacionesValues').value == '' ? [] : document.getElementById('delegacionesValues').value.split(',');

                    var index = selectedValues.indexOf(delegacionID);
                    if (!$(obj).hasClass('active')) {
                        selectedValues.push(delegacionID);
                    }
                    else {
                        if (index > -1) {
                            selectedValues.splice(index, 1);
                        }
                    }

                    document.getElementById('delegacionesValues').value = selectedValues.join();
                }

                function listaInspectorChange(obj) {

                    var InspectorID = obj.getAttribute('data-value');
                    var selectedValues = document.getElementById('inspectorValues').value == '' ? [] : document.getElementById('inspectorValues').value.split(',');

                    var index = selectedValues.indexOf(InspectorID);
                    if (!$(obj).hasClass('active')) {
                        selectedValues.push(InspectorID);
                    }
                    else {
                        if (index > -1) {
                            selectedValues.splice(index, 1);
                        }
                    }

                    document.getElementById('inspectorValues').value = selectedValues.join();
                }

                function ReportCall() {
                    var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

                    var myFrame = document.getElementById('ifrmReportViewer');
                    if (myFrame !== null) {
                        if (myFrame.src) {
                            myFrame.src = url;
                        }
                        else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                            myFrame.contentWindow.location = url;
                        }
                        else {
                            myFrame.setAttribute('src', url);
                        }
                    }

                    return false;
                }

                function Calendario() {
                    $('.input-daterange').datepicker({
                        startView: 2,
                        autoclose: true,
                        orientation: 'bottom auto',
                        todayHighlight: true,
                        todayBtn: true
                    });
                };

                function marcarTodosDelegacion() {

                    var selectedValues = [];
                    var items = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');

                    for (var i = 0; i < items.length; i++) {
                        if (!$(items[i]).hasClass('active')) {
                            $(items[i]).addClass('active')
                        }

                        var delegacionID = items[i].getAttribute('data-value');
                        selectedValues.push(delegacionID);
                    }
                    document.getElementById('delegacionesValues').value = selectedValues.join();
                };

                function limpiarTodosDelegacion() {
                    var items = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');
                    for (var i = 0; i < items.length; i++) {
                        $(items[i]).removeClass('active');
                    }

                    document.getElementById('delegacionesValues').value = '';
                };
                //function marcarTodosInspector() {

                //    var items = document.getElementById("ListaInspectores").getElementsByClassName('list-group-item');
                //    for (var i = 0; i < items.length; i++) {
                //        if (!$(items[i]).hasClass('active')) {
                //            $(items[i]).addClass('active')
                //        }
                //    }
                //};

                function limpiarTodosInspector() {
                    var items = document.getElementById("ListaInspectores").getElementsByClassName('list-group-item');
                    for (var i = 0; i < items.length; i++) {
                        $(items[i]).removeClass('active');
                    }

                    document.getElementById('inspectorValues').value = '';
                };
            </script>

<script type="text/javascript">

    function BuscarInspec() {
        var input = document.getElementById('BuscarInspector').value.toLowerCase();
        var output = document.getElementById("ListaInspectores").getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');
            }
        }
    }

    function BuscarDelega() {
        var input = document.getElementById('BuscarDelegacion').value.toLowerCase();
        var output = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');
            }
        }
    }

</script>
        }
