@model IEnumerable<Cosevi.SIBOAC.Models.GetReporteStatusActualPlanoData_Result>
@{
    ViewBag.Title = "_ReporteStatusActualPlano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte por Estado Actual del Plano o Croquis</h2>
<h4>Filtro</h4>
<hr />

@using (Html.BeginForm("GetReporteStatusActualPlano", "Reporte", FormMethod.Get))
{
    <table border="0">
        <div class="form-group">
            <label class="control-label col-md-2">Seleccione la opción status plano</label>
            <div class="col-md-10">

                <div class="radio" id="radioButton">
                    <label><input id="radio1" type="radio" name="radio" value="1">Con Plano</label>
                    <br>
                    <label><input id="radio2" type="radio" name="radio" value="2">Sin Plano</label>
                    <br>
                    <label><input id="radio3" type="radio" name="radio" value="3">Entrega Posterior</label>
                    <br>
                    <label><input id="radio4" type="radio" name="radio" value="4">Entrega Posterior Sí</label>
                    <br>
                    <label><input id="radio5" type="radio" name="radio" value="5">Entrega Posterior No</label>
                </div>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="desde" type="text" class="input-sm form-control" name="desde" />
                    <span class="input-group-addon">a</span>
                    <input id="hasta" type="text" class="input-sm form-control" name="hasta" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Delegación</label>
                        <div class="col-max col-md-10">
                            <select name="listaDelegacion" id="example-getting-started" multiple="multiple" class="list-group" data-toggle="items">
                                @foreach (var item in ViewBag.Delegacion)
                                {
                                    if (item.Seleccionado == true)
                                    {
                                        <option value="@item.Id" selected>@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <br>
                        <br /> <br /> <br /> <br /> <br /> <br />
                        <br /> <br /> <br /> <br /> <br /> <br />
                        <div class="btn-group pull-right">
                            @*<button id="todosDelegacion" type="button" class="btn btn-primary">Marcar todos</button>
                                <button id="limpiarDelegacion" type="button" class="btn btn-warning">Limpiar</button>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Autoridad Judicial</label>
                        <div class="col-max col-md-10">
                            <select name="listaAutoridad" id="example-getting-started" multiple="multiple" class="list-group" data-toggle="items">
                                @foreach (var item in ViewBag.Autoridad)
                                {
                                    if (item.Seleccionado == true)
                                    {
                                        <option value="@item.Id" selected>@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <br>
                        <br /> <br /> <br /> <br /> <br /> <br />
                        <br /> <br /> <br /> <br /> <br /> <br />
                        <div class="btn-group pull-right">
                            @*<button id="todosAutoridad" type="button" class="btn btn-primary">Marcar todos</button>
                                <button id="limpiarAutoridad" type="button" class="btn btn-warning">Limpiar</button>*@
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="pull-right">
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </div>
        </div>
    </table>
}
<iframe id="ifrmReportViewer" style="height:1200px; width:99%;" frameborder="0" scrolling="no"></iframe>
@section scripts
{
    <script>
                $(document).ready(
                function () {
                    Calendario();
                    cargarDatosInspector();
                    cargarDatosDelegacion();
                    ReportCall();

                });
    </script>

    <script>

        $("#listaDelegacion").change(function () {
            var id = $(this).attr('name');
            var str2 = "";
            $("#listaDelegacion option:selected").each(function () {

                str2 += "&" + id + "=" + $(this).attr('value');
            });
            $("div").text(str2);
        }).trigger('change');

        $("#listaAutoridad").change(function () {
            var id = $(this).attr('name');
            var str2 = "";
            $("#listaAutoridad option:selected").each(function () {

                str2 += "&" + id + "=" + $(this).attr('value');
            });
            $("div").text(str2);
        }).trigger('change');

        function ReportCall() {
            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }

        function Calendario() {
            $('.input-daterange').datepicker({
                startView: 2
            });
        };
    </script>
}
