@model IEnumerable<Cosevi.SIBOAC.Models.SIBOACUsuarios>
@{
    ViewBag.Title = "_ReportePorUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">

    function doSearch() {
        var input = document.getElementById('searchTerm').value.toLowerCase();
        var output = document.getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');
            }
        }
    }
</script>

<h2>Reporte por Usuario - Estatus Plano o Croquis</h2>
<h4>Filtro</h4>
<hr />
@using (Html.BeginForm("GetReportePorUsuario", "Reporte", FormMethod.Get))
{
    @Html.Hidden("usuariosValues");

    <table border="0">
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="desde" type="text" class="input-sm form-control" name="desde" value="@Request.Params["desde"]" required />
                    <span class="input-group-addon">a</span>
                    <input id="hasta" type="text" class="input-sm form-control" name="hasta" value="@Request.Params["hasta"]" required />
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">Usuarios</label>
                    <p>
                        <input type="text" id="searchTerm" name="searchTerm" onkeyup="doSearch()" placeholder="Buscar..">
                    </p>
                    <div class="col-max col-md-7">
                        <div id="ListaUsuarios">
                            <div class="list-group" data-toggle="items" required>
                                @foreach (var item in ViewBag.Usuarios)
                                {
                                    if (item.Seleccionado == true)
                                    {
                                        <a href="#" class="list-group-item active" data-value="@item.Id" onclick="listaUsuariosChange(this); return false;">@item.Usuario</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="list-group-item" data-value="@item.Id" onclick="listaUsuariosChange(this); return false;">@item.Usuario</a>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <br />
            <br />
            <div class="btn-group pull-right col-md-6">
                <button id="todos" type="button" class="btn btn-danger" onclick="marcarTodosUsuarios()">Marcar todos</button>
                <button id="limpiar" type="button" class="btn btn-primary" onclick="limpiarTodosUsuarios()">Limpiar</button>
            </div>
            <br />
            <br />
            <div class="pull-right">
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </div>
        </div>
    </table>
}

<iframe id="ifrmReportViewer" style="height:1200px; width:99%;" frameborder="0" scrolling="no"></iframe>
@section scripts{

    <script>
        $(document).ready(
        function () {
            Calendario();
            ReportCall();
            //prepararEventos();
        });
    </script>

    <script>

        function listaUsuariosChange(obj) {

            var UsuariosID = obj.getAttribute('data-value');
            var selectedValues = document.getElementById('usuariosValues').value == '' ? [] : document.getElementById('usuariosValues').value.split(',');

            var index = selectedValues.indexOf(UsuariosID);
            if (!$(obj).hasClass('active')) {
                selectedValues.push(UsuariosID);
            }
            else {
                if (index > -1) {
                    selectedValues.splice(index, 1);
                }
            }

            document.getElementById('usuariosValues').value = selectedValues.join();
        }

        function ReportCall() {

            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }

        function Calendario() {
            //$.fn.datepicker.defaults.format = "dd/mm/yyyy";
            $('.input-daterange').datepicker({
                startView: 2,
                autoclose: true,
                orientation: 'bottom auto',
                todayHighlight: true,
                todayBtn: true
                //format: 'dd/mm/yyyy' desde
            });
        };
        //function cale2() {
        //    $("#desde").datepicker({
        //        format: 'dd/mm/yyyy'
        //    });
        //};

        function marcarTodosUsuarios() {
            var selectedValues = [];
            var items = document.getElementById("ListaUsuarios").getElementsByClassName('list-group-item');

            for (var i = 0; i < items.length; i++) {
                if (!$(items[i]).hasClass('active')) {
                    $(items[i]).addClass('active')
                }

                var UsuariosID = items[i].getAttribute('data-value');
                selectedValues.push(UsuariosID);
            }
            document.getElementById('usuariosValues').value = selectedValues.join();
        };

        function limpiarTodosUsuarios() {
            var items = document.getElementById("ListaUsuarios").getElementsByClassName('list-group-item');
            for (var i = 0; i < items.length; i++) {
                $(items[i]).removeClass('active');
            }

            document.getElementById('usuariosValues').value = '';
        };
    </script>
}