@model IEnumerable <Cosevi.SIBOAC.Models.SIBOACUsuarios>
@{
    ViewBag.Title = "_ReportePorUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">

    function doSearch() {
        var input = document.getElementById('searchTerm').value.toLowerCase();
        var output = document.getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');                
            }        
        }
    }
</script>

<h2>Reporte por Usuario - Estatus Plano o Croquis</h2>
<h4>Filtro</h4>
<hr />
@using (Html.BeginForm("GetReportePorUsuario", "Reporte", FormMethod.Get))
{
    <table border="0">
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="desde" type="text" class="input-sm form-control" name="desde" value="@Request.Params["desde"]" required/>
                    <span class="input-group-addon">a</span>
                    <input id="hasta" type="text" class="input-sm form-control" name="hasta"  value="@Request.Params["hasta"]" required/>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2">Usuarios</label>
                    <p>
                        <input type="text" id="searchTerm" name="searchTerm" onkeyup="doSearch()" placeholder="Buscar..">
                    </p>
                    <div class="col-max col-md-10">
                        <select name="listaUsuarios" id="listaUsu" multiple="multiple" class="list-group" data-toggle="items" required>
                            @foreach (var item in ViewBag.Usuarios)
                            {
                                if (item.Seleccionado == true)
                                {
                                    <option value="@item.Id" selected>@item.Usuario</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Usuario</option>
                                }
                            }
                            
                        </select>
                    </div>
                    <br />
                    <br />
                </div>
                <br />
                <br />
                <div class="btn-group pull-right">
                    @*<button id="todos" type="button" class="btn btn-primary">Marcar todos</button>
                    <button id="limpiar" type="button" class="btn btn-warning">Limpiar</button>*@
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="pull-right">
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
            </div>
        </div>
    </table>
}

<iframe id="ifrmReportViewer" style="height:1200px; width:99%;" frameborder="0" scrolling="no"></iframe>
@section scripts{    

    <script>
        $(document).ready(
        function () {            
            Calendario();
            ReportCall();
            //cargarDatos();
        });
    </script>

    <script>
        $("#listaUsuarios").change(function () {
            var id = $(this).attr('name');
            var str2 = "";
            $("#listaUsuarios option:selected").each(function () {

                str2 += "&" + id + "=" + $(this).attr('value');
            });
            $("div").text(str2);
        }).trigger('change');

        function ReportCall() {

            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }

             function Calendario() {
        $('.input-daterange').datepicker({
            startView: 2
        });
             };
    </script>
}