@model IEnumerable<Cosevi.SIBOAC.Models.GetReporteStatusActualPlanoData_Result>
@{
    ViewBag.Title = "_ReporteStatusActualPlano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte por Estado Actual del Plano o Croquis</h2>
<h4>Filtro</h4>
<hr />

@using (Html.BeginForm("GetReporteStatusActualPlano", "Reporte", FormMethod.Get))
{

    @Html.Hidden("delegacionesValues");
    @Html.Hidden("autoridadesValues");

    <table border="0">
        <div class="form-group">
            <label class="control-label col-md-2">Seleccione la opción status plano</label>
            <div class="col-md-10">

                <div class="radio" id="radioButton">
                    <label><input id="radio1" type="radio" name="radio" value="1" checked>Con Plano</label>
                    <br>
                    <label><input id="radio2" type="radio" name="radio" value="2">Sin Plano</label>
                    <br>
                    <label><input id="radio3" type="radio" name="radio" value="3">Entrega Posterior</label>
                    <br>
                    <label><input id="radio4" type="radio" name="radio" value="4">Entrega Posterior Sí</label>
                    <br>
                    <label><input id="radio5" type="radio" name="radio" value="5">Entrega Posterior No</label>
                </div>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Rango de fechas</label>
            <div class="col-md-10">
                <div class="input-daterange input-group" id="datepicker">
                    <input id="desde" type="text" class="input-sm form-control" name="desde" value="@Request.Params["desde"]" required/>
                    <span class="input-group-addon">a</span>
                    <input id="hasta" type="text" class="input-sm form-control" name="hasta" value="@Request.Params["hasta"]" required/>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Delegación</label>
                        <br />
                        <p>
                            <input type="text" id="BuscarDelegacion" name="BuscarDelegaciones" onkeyup="BuscarDelega()" placeholder="Buscar..">
                        </p>
                        <div class="col-max col-md-12">
                            <div id="ListaDelegaciones">
                                <div class="list-group" data-toggle="items" required>
                                    @foreach (var item in ViewBag.Delegacion)
                                    {
                                        if (item.Seleccionado == true)
                                        {
                                            <a href="#" class="list-group-item active" data-value="@item.Id" onclick="listaDelegacionesChange(this); return false;">@item.Descripcion</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="list-group-item" data-value="@item.Id" onclick="listaDelegacionesChange(this); return false;">@item.Descripcion</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br/>            
                        <div class="btn-group pull-right">
                            <button id="todosDelegacion" type="button" class="btn btn-danger" onclick="marcarTodosDelegacion()">Marcar todos</button>
                            <button id="limpiarDelegacion" type="button" class="btn btn-primary" onclick="limpiarTodosDelegacion()">Limpiar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">Autoridad Judicial</label>
                        <br />
                        <p>
                            <input type="text" id="BuscarAutoridad" name="BuscarAutoridades" onkeyup="BuscarAut()" placeholder="Buscar..">
                        </p>
                        <div class="col-max col-md-12">
                            <div id="ListaAutoridades">
                                <div class="list-group" data-toggle="items" required>
                                    @foreach (var item in ViewBag.Autoridad)
                                    {
                                        if (item.Seleccionado == true)
                                        {
                                            <a href="#" class="list-group-item active" data-value="@item.Id" onclick="listaAutoridadesChange(this); return false;">@item.Descripcion</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="list-group-item" data-value="@item.Id" onclick="listaAutoridadesChange(this); return false;">@item.Descripcion</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>                        
                        <br />
                        <div class="btn-group pull-right">
                            <button id="todosAutoridad" type="button" class="btn btn-danger" onclick="marcarTodosAutoridad()">Marcar todos</button>
                            <button id="limpiarAutoridad" type="button" class="btn  btn-primary" onclick="limpiarTodosAutoridad()">Limpiar</button>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="pull-right">
                <input type="submit" id="reporte" value="Generar Reporte" class="btn btn-success" />
                <button id="limpiarCampos" type="button" class="btn btn-danger">Limpiar</button>
            </div>
        </div>
    </table>
}
<br/>
<iframe id="ifrmReportViewer" style="height:1200px; width:60%;" frameborder="0" scrolling="no"></iframe>

@section scripts
{
    <script>
                $(document).ready(
                function () {
                    Calendario();                    
                    ReportCall();
                    limpiarCampos();
                });
    </script>

    <script>

        function limpiarCampos() {
            $('#limpiarCampos').click(function () {
                $('input[type="text"]').val('');
            });
        };

        function listaDelegacionesChange(obj) {

            var delegacionID = obj.getAttribute('data-value');
            var selectedValues = document.getElementById('delegacionesValues').value == '' ? [] : document.getElementById('delegacionesValues').value.split(',');

            var index = selectedValues.indexOf(delegacionID);
            if (!$(obj).hasClass('active')) {
                selectedValues.push(delegacionID);
            }
            else {
                if (index > -1) {
                    selectedValues.splice(index, 1);
                }
            }

            document.getElementById('delegacionesValues').value = selectedValues.join();
        }

        function listaAutoridadesChange(obj) {

            var autoridadID = obj.getAttribute('data-value');
            var selectedValues = document.getElementById('autoridadesValues').value == '' ? [] : document.getElementById('autoridadesValues').value.split(',');

            var index = selectedValues.indexOf(autoridadID);
            if (!$(obj).hasClass('active')) {
                selectedValues.push(autoridadID);
            }
            else {
                if (index > -1) {
                    selectedValues.splice(index, 1);
                }
            }

            document.getElementById('autoridadesValues').value = selectedValues.join();
        }

        function marcarTodosDelegacion() {
            var selectedValues = [];
            var items = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');

            for (var i = 0; i < items.length; i++) {
                if (!$(items[i]).hasClass('active')) {
                    $(items[i]).addClass('active')
                }

                var delegacionID = items[i].getAttribute('data-value');
                selectedValues.push(delegacionID);
            }
            document.getElementById('delegacionesValues').value = selectedValues.join();
        };

        function limpiarTodosDelegacion() {
            var items = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');
            for (var i = 0; i < items.length; i++) {
                $(items[i]).removeClass('active');
            }

            document.getElementById('delegacionesValues').value = '';
        };

        function marcarTodosAutoridad() {
            var selectedValues = [];
            var items = document.getElementById("ListaAutoridades").getElementsByClassName('list-group-item');

            for (var i = 0; i < items.length; i++) {
                if (!$(items[i]).hasClass('active')) {
                    $(items[i]).addClass('active')
                }

                var autoridadID = items[i].getAttribute('data-value');
                selectedValues.push(autoridadID);
            }

            document.getElementById('autoridadesValues').value = selectedValues.join();
        };

        function limpiarTodosAutoridad() {
            var items = document.getElementById("ListaAutoridades").getElementsByClassName('list-group-item');
            for (var i = 0; i < items.length; i++) {
                $(items[i]).removeClass('active');
            }

            document.getElementById('autoridadesValues').value = '';
        };

        function ReportCall() {
            var url = '/Reports/ViewerPage.aspx?reporteID=@ViewBag.ReporteID&nombreReporte=@ViewBag.NombreReporte&parametros=@ViewBag.Parametros';

            var myFrame = document.getElementById('ifrmReportViewer');
            if (myFrame !== null) {
                if (myFrame.src) {
                    myFrame.src = url;
                }
                else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    myFrame.contentWindow.location = url;
                }
                else {
                    myFrame.setAttribute('src', url);
                }
            }

            return false;
        }

        function Calendario() {
            $('.input-daterange').datepicker({                
                startView: 2,
                autoclose: true,
                orientation: 'bottom auto',
                todayHighlight: true,
                todayBtn: true
            });
        };
    </script>

<script type="text/javascript">

    function BuscarAut() {
        var input = document.getElementById('BuscarAutoridad').value.toLowerCase();
        var output = document.getElementById("ListaAutoridades").getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');
            }
        }
    }

    function BuscarDelega() {
        var input = document.getElementById('BuscarDelegacion').value.toLowerCase();
        var output = document.getElementById("ListaDelegaciones").getElementsByClassName('list-group-item');

        for (var i = 0; i < output.length; i++) {
            if (output[i].text.toLowerCase().indexOf(input) < 0) {
                output[i].style.display = "none";
                output[i].setAttribute('style', 'display:none;');

            } else {
                output[i].style.display = "";
                output[i].setAttribute('style', 'display:');
            }
        }
    }

</script>
}
