@model IEnumerable<Cosevi.SIBOAC.Models.NombreDeMenu>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de nombres de menús</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.NombreDeMenuMovil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.NombreDeMenuMovil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id.Trim() }) |
            @Html.ActionLink("Inactivar", "Delete", new { id=item.Id.Trim() })
        </td>
    </tr>
}

</table>
