@model PagedList.IPagedList<Cosevi.SIBOAC.Models.RolPorPersonaOpcionFormulario>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de los Roles de Persona por Formulario</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.First().CodigoRolPersona)
        </th>
        <th>
            @Html.Label("Descripción")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CodigoOpcionFormulario)
        </th>
        <th>
            @Html.Label("Descripción")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaDeFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Estado == "I")
    {
        <tr class="warning">

            <td>
                @Html.DisplayFor(modelItem => item.CodigoRolPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoRolPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoOpcionFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoOpcionFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario }) |
                @Html.ActionLink("Detalle", "Details", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario }) |
                @Html.ActionLink("Eliminar", "RealDelete", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario }) |
                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario })
                }
            </td>
        </tr>
    }


    else
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoRolPersona)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoRolPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoOpcionFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCodigoOpcionFormulario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFin)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario/* id=item.PrimaryKey */  }) |
                @Html.ActionLink("Detalles", "Details", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario/* id=item.PrimaryKey */  }) |

                @if (item.Estado == "I")
                {
                    @Html.ActionLink("Activar", "Delete", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario })
                }
                else
                {
                    @Html.ActionLink("Inactivar", "Delete", new { codRol = item.CodigoRolPersona, codFormulario = item.CodigoOpcionFormulario })
                }
            </td>
        </tr>
    }
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))