@model Cosevi.SIBOAC.Models.CondicionDeLaCalzada

@{
    ViewBag.Title = "Inactivar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inactivar</h2>

<h3>Esta seguro que desea cambiar el estado?</h3>
<div>
    <h4>Condición de la calzada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.Estado == "A")
            {
                <input type="submit" value="Inactivar" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Activar" class="btn btn-default" />
            }
            |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
