@model IEnumerable<Cosevi.SIBOAC.Models.RolOpcionSIBOAC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOpcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOpcion)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { idRol = item.IdRol, idOpcion = item.IdOpcion  /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { idRol = item.IdRol, idOpcion = item.IdOpcion/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { idRol = item.IdRol, idOpcion = item.IdOpcion /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
